[submodule "backend"]
	path = backend
	url = https://github.com/evilc0des/Incubyte-Salary-Management-Assesment-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/evilc0des/Incubyte-Salary-Management-Assesment-Frontend.git
